asgiref==3.8.1
Django==5.0.6
django-browser-reload==1.12.1
python-decouple==3.8
sqlparse==0.5.0
newsapi-python==0.2.7
django-crispy-forms==2.2
black==24.4.2
django-htmx==1.18.0
crispy-bootstrap5==2024.2
celery==5.4.0
django_celery_results==2.5.1
redis==5.0.8
