<div>
    <!-- Hidden polyline context -->
    <div id="polyline-data" style="display: none;">{{ polyline }}</div>

    <div id="origin-address-latitude" style="display: none;">
        {{origin_address_coordinates.0 }}</div>
    <div id="origin-address-longitude" style="display: none;">
        {{origin_address_coordinates.1 }}</div>

    <div id="destination-address-latitude" style="display: none;">
        {{ destination_address_coordinates.0 }}</div>
    <div id="destination-address-longitude" style="display: none;">
        {{ destination_address_coordinates.1 }}</div>

</div>