{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="min-height: 1000px;">
    <div class="shadow p-4 mb-5 bg-body rounded">

        <div class="row">

            <div class="col-6 d-flex justify-content-center align-items-center"
                id="order-information">
                <div>
                    <h1>Enter delivery information</h1>

                    {% load crispy_forms_tags %}
                    {% csrf_token %}
                    {% crispy form %}
                </div>
            </div>
            <div class="col-6">
                <div id="map"
                    style="min-height: 1000px;"></div>
            </div>

        </div>

    </div>
</div>

{% endblock %}
