<div>

  <section class>
    <footer
      class="text-center text-white bg-dark border-bottom border-bottom-dark">
      <div class="container p-4 pb-0">
        <section class>
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Register for free</span>
            <button
              hx-get="{% url 'register' %}"
              hx-target="#modals-here"
              hx-trigger="click"
              data-bs-toggle="modal"
              data-bs-target="#modals-here"
              class="btn btn-outline-light btn-rounded">Sign Up</button>

            

          </p>
          <p>&copy; 2024 News4You. All Rights Reserved.</p>
        </section>
      </div>
    </footer>
  </section>
</div>