{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<h1>Join Today</h1>

{% csrf_token %}
{% crispy form %}

<script
    src="https://unpkg.com/cleave-zen@0.0.17/dist/cleave-zen.umd.js"></script>

<script>
        const blocksInput = document.querySelector('input[name="phone_number"]');  
        blocksInput.addEventListener('input', (e) => {
            blocksInput.value = cleaveZen.formatGeneral(e.target.value, {
    blocks: [0, 3, 3, 4],
    delimiters: ['(', ') ', '-'],
    delimiterLazyShow: true,
    numericOnly: true
});
        });
</script>

{% endblock %}