{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="min-height: 1000px;">
    <div class="shadow p-4 mb-5 bg-body rounded">

        <div class="row">

            <div class="col-6 d-flex justify-content-center align-items-center"
                id="order-information">
                <div>
                    <h1>Enter delivery information</h1>

                    {% load crispy_forms_tags %}
                    {% csrf_token %}
                    {% crispy form %}
                    <div id="reference-numbers-div" hidden>
                        Reference Numbers Added:
                        <ul class="list-group list-group-flush"
                            id="reference-number-list">
                        </ul>
                    </div>
                    <div>
                        {% include "partials/reference_number_form.html" %}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div id="map"
                    style="min-height: 1000px;"></div>
            </div>

        </div>

    </div>
</div>
<script type="module" src="/static/js/create_delivery_utils.js"></script>
{{ placeIDs|json_script:"place-ids-json" }}

{% endblock %}
