

<div class="shadow p-4 mb-5 mt-5 bg-body rounded">

    <div class="card mt-3">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">Order
                        #{{delivery_instance.control_number }}</h4>
                    <hr>

                    <h5>Summary</h5>
                    <p><strong>Weight:</strong> {{ delivery_instance.weight }}
                        lbs</p>

                    <p><strong>Description:</strong>
                        {{ delivery_instance.content}}</p>

                    <h5 class="mt-4">Delivery Details</h5>
                    <p><strong>Pickup Address:</strong>
                        {{delivery_instance.delivery_address }}</p>
                    <p><strong>Delivery Address</strong>
                        {{ delivery_instance.pickup_address }}
                    </p>

                    <h5 class="mt-4">Status & Pricing</h5>
                    <p><strong>Status:</strong>
                        {{ delivery_instance.order_status }}</p>
                    <p><strong>Total Cost:</strong> $
                        {{ delivery_instance.total_amount }}</p>

                    <div class="mt-3">
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-secondary">Download
                            Invoice</a>
                        <a href="#" class="btn btn-danger">Cancel
                            Delivery</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">insert image here</div>
        </div>
    </div>

</div>
